<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527185262052-351cgh377ksuj20513fudnv8gu8009lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527185262052-351cgh377ksuj20513fudnv8gu8009lp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>527185262052-k0lutkekpciu6u17j23cg7snr37a6rts.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1A2NdJN2M8gCONJ3dEEUPgo_Daq8Ijbs</string>
	<key>GCM_SENDER_ID</key>
	<string>527185262052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Onecake-FrontEnd</string>
	<key>PROJECT_ID</key>
	<string>onecake-864e9</string>
	<key>STORAGE_BUCKET</key>
	<string>onecake-864e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527185262052:ios:669e78688faa882e5e43f1</string>
</dict>
</plist>